body {
    background-color: #3b3b3b;
    font-family: sans-serif;
    color: #d9d9d9;
}

.title {
    text-align: center;
    font-size: 50pt;
    margin: 0;
    padding: 0;
}

.contact {
    text-align: center;
    font-size: 20pt;
}

.hyperlink {
    color: aqua ;
}