body {
    background-color: black;
    font-family: sans-serif;
    color: #d9d9d9;
}

.title {
    text-align: center;
    font-size: 50pt;
    margin: 0;
    padding: 0;
}

.draw-bar {
    background: #cc0000;
    height: 3em;
    /*position: fixed;*/
    width: 100%;
    vertical-align: middle;
}

.left-icon {
    padding-left: 10pt;
}

.draw-icon {
    margin-left: 10%;
}

.right-icon {
    float: right;
    padding-right: 10pt;
}

.draw-bar {
    color: #d9d9d9;
    text-decoration: none;
    padding-bottom: 0;
}

.empty {
    margin: 0;
    padding: 0;
    font-size: 30pt;
    padding-top: 20%;
    text-align: center;
}

.canvas {
    border: 2px solid white;
}

.eraser-hide,
.pencil-hide,
.dropdown-hide {
    display: none !important;
}

.eraser-show,
.pencil-show, 
.dropdown-show {
    display: inline;
}

.clickable-icon {
    cursor: pointer;
}

.option {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.choose-color a {
    background-color: #d9d9d9;;
    display: block;
    width: 150px;
    font-size: 16pt;
}

.chooseColor {
    position: relative;
}

#dropdown {
    position: absolute;
}

li a {
    font-size: 20px;
    height: 3em;
    width: 100%;
    vertical-align: middle;
}

#dropdown li {
    list-style-type: none;
    background: #d9d9d9;
}

.white {
    color: white;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}