body {
    background-color: #3b3b3b;
    font-family: sans-serif;
    color: #d9d9d9;
}

.title {
    text-align: center;
    font-size: 50pt;
    margin: 0;
    padding: 0;
}

.what-we-are {
    padding-left: 5%;
}

.what-we-are-text, .why-we-are-text {
    font-size: 20pt;
    width: 400pt;
}

.why-we-are {
    float: right;
    padding-right: 5%;
}