/* Login Page */

body {
    background-color: #3b3b3b;
    font-family: sans-serif;
}

.login {
    color: #d9d9d9;
    padding: 0;
    margin: 0;
    padding-top: 20%;
}

.login-text {
    margin: 0;
    font-size: 40pt;
    padding-left: 11%;
    display: inline-block;
}

.login-info {
    font-size: 25pt;
}

.login-info-span {
    margin: 0;
    float: right;
    padding-right: 10%;     
}

.login-button {
    float: right;
}

.input {
    float: right;
    height: 20pt;
    width: 150pt;
    font-size: 20pt;
}

#username, #password {
    background: #efefef;
    color: #3a3a3a;
}

.logout {
    float: right;
    vertical-align: middle;
}

.login-button {
    background-color: green;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 10pt;
    padding: 15px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
