#header-bar {
    background: purple;
    height: 3em;
    vertical-align: middle;

}

.header-header {
    padding: 0 0.5em;
}

.header-text {
    font-size: 2em;
    color: #d9d9d9;
}

.header-button {
    display: inline-block;
    padding: 0em 0.75em;
    height: 3em;
    cursor: pointer;
}

.header-button:hover {
    background: #e014ad;
}


#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
    height: 100%;
    position: fixed;
    overflow: auto;
    -webkit-transition: width 0.75s; /* Safari */
    transition: width 0.75s;
}

.navhidden {
    width: 0%;
    opacity: 0%;

}

.navshow {
    width: 20%;
    opacity: 100%;

}

.navitems {
    display: block;
    color: #2b2b2b;
    width: 100%;
    font-size: 2em;
    line-height: 1.5em;
    padding: 0em 0.5em;
    white-space: nowrap;
}

li a {
    color: #2b2b2b;
    text-decoration: none;
    font-size: 20px;
    height: 3em;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.navitems:hover {
    background: salmon;
}

body {
    margin: 0;
    /*background-color: #3b3b3b;
    font-family: sans-serif;*/
}

@keyframes slide {
    from {width: 0%; }
    to {width: 20%; }
}