body {
    background-color: #3b3b3b;
    font-family: sans-serif;
    color: #d9d9d9;
}

.title {
    text-align: center;
    font-size: 50pt;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.flex-item {
    margin: 2em;
    height: 10em;
    width: 20em;
}

.board {
    border: darkgray 4px solid;
    background: black;
    text-align: center;
    font-size: 15pt;
    cursor: pointer;
}

.board:hover, .newboard:hover {
    border: purple 4px solid;
}

.newboard{
    border: darkgray 4px solid;
    background: black;
    text-align: center;
    font-size: 15pt;
    cursor: pointer;
}

i {
    vertical-align: middle;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content/Box */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: darkgray;
    color: black;
    font-size:20pt;
    width: 100%;
    height:40%;
    animation-name: slideIn;
    animation-duration: 0.4s;
    text-align: right;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 24pt;
    font-weight: bold;
    margin: 0px 10px;
}

.close:hover,
.close:focus {
    color: purple;
    text-decoration: none;
    cursor: pointer;
}

form {
    margin: 6em 5em;
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

