.homepage-title {
    color: #d9d9d9;
    text-align: center;
    font-size: 30pt;
}


/* Login Page */

.login-text {
    color: #d9d9d9;
    font-size: 30pt;
    padding: 0;
    margin: 0;
    padding-left: 10%;
    padding-top: 10%;
    vertical-align: middle;
}

.login-info {
    color: #d9d9d9;
    font-size: 20pt;
}

.login-info-div {
    width: 400px;
    margin: 0;
    float: right;
    padding-right: 20%;
}

.menu-bar {
    color: #d9d9d9;
}